/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #006D5B;
  --ifm-color-primary-dark: #005A4A;
  --ifm-color-primary-darker: #004A3D;
  --ifm-color-primary-darkest: #00352A;
  --ifm-color-primary-light: #007A6A;
  --ifm-color-primary-lighter: #008777;
  --ifm-color-primary-lightest: #009485;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00C49A;
  --ifm-color-primary-dark: #00B08A;
  --ifm-color-primary-darker: #009C7A;
  --ifm-color-primary-darkest: #00886A;
  --ifm-color-primary-light: #00E0C2;
  --ifm-color-primary-lighter: #00ECCF;
  --ifm-color-primary-lightest: #00F8DC;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.diagram-wrapper svg {
  width: 100%;
  height: auto;
  max-width: 1000px;
}

@media (max-width: 1000px) {
  .diagram-wrapper svg {
    height: auto;
  }

  .diagram-wrapper svg g.config1 {
    transform: translate(50px, 50px);
  }

  .diagram-wrapper svg g.config2 {
    transform: translate(50px, 470px); /* mută a doua configurație mai jos ca să nu se suprapună */
  }
}

